.name_heading {
    font-family: "fatfrank", cursive, sans-serif;
    opacity: 0  ;
    font-size: 50px;
    font-weight: bold; 
    text-align: center; 
    padding-top: 40vh;
    padding-bottom: 1em;

}

.casing{
    text-align: center;
    display: inline-block;
}

.land_page {
    height: 100vh;
    opacity: 1;

    background: -webkit-linear-gradient(#C2E6F2, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#C2E6F2, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#C2E6F2, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#C2E6F2, white); /* Standard syntax */
}

.secondary_heading {
    padding-bottom: 1em;
    text-align: left;
    font-size: 50px;
    font-variant-caps: small-caps;
}

.indented_para {    
    font-size: 20px;
    display: inline-block;
    width: 35%;
    text-align: left;
    padding-left: -30%;
    
}

.contact_button {
    background-color: #FEDBCA;
}

.contact_details {
    padding-top: 2em;
    text-align: center;
    font-size: small;
    font-weight: normal;
}

.section_buttons {
    padding-top: 1em;
    text-align: center;
}

.jump_button {
    background-color: black;
    border-color: black;
    border-style: smooth;
    color: white;
    margin-top: 0.5em;
}

.back_top{

    padding-right: 10%;
    text-align: right;
}

.back_button{
    background-color: transparent;
}



.background_white {
    text-align: center;
    background-color: white;
    padding-top: 10em;
    padding-bottom: 10em;
}

.background_colour {
    text-align: center;
    background-color: #C2E6F2;
    padding-top: 10em;
    padding-bottom: 10em;
}

.subheading {
    font-family: "Helvetica", cursive, sans-serif;
    font-size: x-large;
    cursor: pointer;
}

.subheading_center {
    font-family: "Helvetica", cursive, sans-serif;
    font-size: x-large;
    cursor: pointer;
    text-align: center;    
}

.arrow{
    height: 20px;
    width: 20px; 
    cursor: pointer;

}

.up_arrow{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    height: 20px;
    width: 20px; 
    cursor: pointer;
}

.list_item{
    cursor: pointer;
    font-variant-caps: small-caps;
    font-style: italic;
    font-size: x-large;
}

.hidden{
    display: none;
    font-size: large;
}

.mark{
    font-size: small;
}

.job_title{
    font-style: italic;
    font-variant-caps: small-caps;
    font-size: x-large;
}

.slight_indent{
    padding-left: 40px;
}

.section_image{
    position: fixed;
    top: 70px;
    right: 30px;
    width: 200px;
    height: 200px;
}



.menu_link{
    cursor: pointer;
    padding-left: 20px;
    margin-right: 5px;
}

.menu_div{
    padding-bottom: 5%;
}

.section_menu{
    display: inline-block;
    top: 40vh;
    float: right;
    font-size: 15px;
    padding-left: 10%;
    font-variant-caps: all-small-caps;
    width: 10%;
    font-weight: normal;
    text-align: left;
    position: absolute;
}

.high_menu{
    position: fixed;
    top: 150px;
    right: 16%;
    font-size: 15px;
    font-variant-caps: all-small-caps;
    width: 11%;
    font-weight: normal;
    text-align: left;

}

.code_icon{
    height: 100px;
}

.icon_row{
    text-align: center;
    padding-top: 20px;
}

.soft_table{
    width: 100%;
}

.code_text{
    padding-left: 5%;
    
}

body {
    margin: 0px;
}